.scene-home {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    .modern {
        &-section {
            background: #fafafa;
            position: relative;
            padding: 2rem;
            min-height: 200px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 0 0 100%;
            box-sizing: border-box;
            h1, h2, p {
                z-index: 1;
                white-space: pre-wrap;
            }
        }

        &-card {
            background: #fafafa;
            flex: 1;
            margin: 1rem;
            border-radius: 2px;
            transition: box-shadow 0.3s;
            box-shadow: 0 14px 28px rgba(0,0,0,0.06), 0 10px 10px rgba(0,0,0,0.02);
            &:hover {
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            }
            @media (max-width: 599px) {
                flex: 0 0 calc(100% - 2rem);
            }
            @media (min-width: 600px) and (max-width: 899px) {
                flex: 0 0 calc(50% - 2rem);
            }
            @media (min-width: 900px) {
                flex: 0 0 calc(33.3333% - 2rem);
            }
            &-image-container {
                position: relative;
                height: 200px;
                border-radius: 2px 2px 0 0;
                background: black;
                color: white;
            }
            h1, h2, p {
                padding: 1rem;
            }
            footer {
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem;
                a {
                    text-decoration: none;
                    padding: 0.5rem 1.5rem;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }

    .social-links {
        list-style: none;
        display: flex;
        padding: 0;
        li {
            display: inline-block;
            flex: 1;
            text-align: center;
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
            }
        }
    }

    .img {
        &-hero {
            background-size: cover;
            background-image: url('img/hero.jpg');
        }
        &-challengeaccepted {
            background-size: cover;
            background-image: url('img/preview-challengeaccepted.png');
        }
        &-magicfireball {
            background-size: cover;
            background-image: url('img/preview-magicfireball.png');
        }
        &-firecup {
            background-size: cover;
            background-image: url('img/preview-firecup.png');
        }
        &-masquerade {
            background-size: cover;
            background-image: url('img/preview-masquerade.png');
        }
        &-email {
            background-size: cover;
            background-image: url('img/social-email.png');
        }
        &-twitter {
            background-size: cover;
            background-image: url('img/social-twitter.png');
        }
        &-snapchat {
            background-size: cover;
            background-image: url('img/social-snapchat.png');
        }
        &-github {
            background-size: cover;
            background-image: url('img/social-github.png');
        }
        
    }

    
}